#!/usr/bin/env bash

# ------------------------------------------------------------------------
#
#  Copyright (c) 2005-2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
#
#  WSO2 Inc. licenses this file to you under the Apache License,
#  Version 2.0 (the "License"); you may not use this file except
#  in compliance with the License.
#  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# ------------------------------------------------------------------------

set -e

# use sed to replace current values, if any; create profile file if not exists
sudo touch -a $HOME/.bash_profile
sudo chown $(whoami):$(whoami) $HOME/.bash_profile
echo "Setting environment variables.."
if ! grep -q 'export FLEETCTL_ENDPOINT' $HOME/.bash_profile ; then
  echo "export FLEETCTL_ENDPOINT=http://__MASTER_IP__:4001" >> $HOME/.bash_profile
else
  sed -i'*' 's|.*export FLEETCTL_ENDPOINT.*|export FLEETCTL_ENDPOINT=http://__MASTER_IP__:4001|' $HOME/.bash_profile
fi
if ! grep -q 'export KUBERNETES_MASTER=http://__MASTER_IP__:8080' $HOME/.bash_profile ; then
  echo "export KUBERNETES_MASTER=http://__MASTER_IP__:8080" >> $HOME/.bash_profile
else
  sed -i'*' 's|.*export KUBERNETES_MASTER.*|export KUBERNETES_MASTER=http://__MASTER_IP__:8080|' $HOME/.bash_profile
fi
__PROXY_LINE__if ! grep -q 'export NO_PROXY' $HOME/.bash_profile ; then
__PROXY_LINE__  echo "export NO_PROXY=__NO_PROXY__" >> $HOME/.bash_profile
__PROXY_LINE__  echo "export no_proxy=__NO_PROXY__" >> $HOME/.bash_profile
__PROXY_LINE__else
__PROXY_LINE__  sed -i'*' 's|.*export NO_PROXY.*|export NO_PROXY=__NO_PROXY__|' $HOME/.bash_profile
__PROXY_LINE__  sed -i'*' 's|.*export no_proxy.*|export no_proxy=__NO_PROXY__|' $HOME/.bash_profile
__PROXY_LINE__fi
export FLEETCTL_ENDPOINT=http://__MASTER_IP__:4001
export KUBERNETES_MASTER=http://__MASTER_IP__:8080
__PROXY_LINE__export NO_PROXY=__NO_PROXY__
__PROXY_LINE__export no_proxy=__NO_PROXY__
